@model ProjectMarket.Models.FieldOfStudy

@{
    ViewData["Title"] = "פרטי תחום לימוד";
}

<h2>פרטי תחום לימוד</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">עריכה</a> |
    <a asp-action="Index">חזרה לרשימת תחומי לימוד</a>
</div>
