@model ProjectMarket.Models.Sale

@{
    ViewData["Title"] = "פרטי מכירה";
}

<h2>פרטי המכירה שלך</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Buyer)
        </dt>
        <dd>
            <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.Buyer.Id">
                @Html.DisplayFor(model => model.Buyer.UserName)
            </a>
        </dd>
        <dt>
            מוכר
        </dt>
        <dd>
            <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.Project.Owner.Id">
                @Html.DisplayFor(model => model.Project.Owner.UserName)
            </a>

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rank)
        </dd>
    </dl>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}