@model ProjectMarket.Models.Project

@{
    ViewData["Title"] = Model.Name + " | פרטי פרויקט";
}

@section Styles {
    <link href="@Url.Content("~/css/project-details.css")" rel="stylesheet" type="text/css" />
}


<div style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-9">
            <div class="project-header">
                <h2>@Html.DisplayFor(model => model.Name)</h2>
            </div>
            <div class="project-info">
                <h3>תיאור הפרויקט</h3>
                @Html.DisplayFor(model => model.Description)
                <h3>מוסד אקדמי</h3>
                @Html.DisplayFor(model => model.AcademicInstitute.Name)
                <h3>תחום לימוד</h3>
                @Html.DisplayFor(model => model.FieldOfStudy.Name)
            </div>
        </div>
        <div class="col-md-3">
            <div class="well well-lg">
                <img src="~/images/Student.jpg" class="img-responsive img-circle" />
                <hr />
                <div class="text-center">
                    <strong>@Html.DisplayFor(model => model.Owner.FullName)</strong>
                </div>
            </div>
        </div>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcademicInstitute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicInstitute.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FieldOfStudy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldOfStudy.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">עריכה</a> |
    <a asp-action="MyProjects">חזרה לרשימת הפרויקטים</a>
</div>
