@model ProjectMarket.Models.Project

@{
    ViewData["Title"] = Model.Name + " | פרטי פרויקט";
}

@section Styles {
    <link href="@Url.Content("~/css/project-details.css")" rel="stylesheet" type="text/css" />
}


<section style="margin-top: 30px;">
    <div class="row">
        <div class="col-md-9">
            <header class="project-header">
                <div class="project-header-bg">
                    <h2>@Html.DisplayFor(model => model.Name)</h2>
                </div>
            </header>
            <div class="project-info">
                <h3>תיאור הפרויקט</h3>
                @Html.DisplayFor(model => model.Description)
                <h3>@Html.DisplayNameFor(model => model.Price)</h3>
                @Html.DisplayFor(model => model.Price)
                <h3>מוסד אקדמי</h3>
                @Html.DisplayFor(model => model.AcademicInstitute.Name)
                <h3>תחום לימוד</h3>
                @Html.DisplayFor(model => model.FieldOfStudy.Name)
                <h3>כתובת לבירורים</h3>
                <div id="details_address_name">@Html.DisplayFor(model => model.Address)</div>

            </div>
            <input type="button" class="btn bg-primary" value="הצג על המפה" onclick="OpenMap()" />
        </div>
        <div class="col-md-3">
            <aside class="well well-lg">
                <img src="~/images/Student.jpg" class="img-responsive img-circle" />
                <hr />
                <div class="text-center">
                    <strong>@Html.DisplayFor(model => model.Owner.FullName)</strong>
                </div>
            </aside>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        קנה
    </button>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcademicInstitute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicInstitute.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FieldOfStudy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldOfStudy.Name)
        </dd>
    </dl>
</section>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">קניית פרוייקט</h4>
            </div>
            <div class="modal-body">
                <p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) </p>
                @Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(model => model.Price)

            </div>
            <div class="modal-footer">
                <a asp-controller="Sales" asp-action="Buy" asp-route-id="@Model.Id" class="btn btn-primary">קנה</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var popup;
    var page = 'details';
    function OpenMap() {
        popup = window.open("/view_address.html", "Popup", "width=900,height=700");
        popup.focus();
    }
</script>