@model ProjectMarket.Models.Project

@{
    ViewData["Title"] = "צפיה בפרטי פרויקט";
}

<h2>פרטי הפרויקט</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AcademicInstitute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AcademicInstitute.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FieldOfStudy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldOfStudy.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">עריכה</a> |
    <a asp-action="MyProjects">חזרה לרשימת הפרויקטים</a>
</div>
