@model IEnumerable<ProjectMarket.Models.Project>

@{
    ViewData["Title"] = "My Projects";
}
<h2>הפרויקטים שלי</h2>

<p>
    <a asp-action="Create">הוספת פרויקט</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count<Project>() > 0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">עריכה</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">פרטים</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">מחיקה</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td rowspan="3"> עוד לא יצרת פרויקטים </td>
            </tr>
        }
    </tbody>
</table>