@using ProjectMarket.ViewModels;
@model ProjectMarket.Models.User

@{
    ViewData["Title"] = "Details";
}
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EMail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EMail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">חזרה לרשימת משתמשים</a>
</div>
<partial name="ProjectFilter" model="new ProjectFilter(){UserId = Model.Id}" view-data="ViewData" />

@section Scripts{
    <script src="~/js/project-filter.js"></script>
}
